.explore-container {
  width: 100%;
  margin-top: 5rem;
  height: 120vh;
}

.explore-header {
  font-size: xx-large;
  text-align: center;
  letter-spacing: 6px;
  text-transform: capitalize;
  color: var(--secondary-color);
}

.explore-questions-container {
  width: 90%;
  margin: 1rem auto;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 2rem;
  -webkit-column-gap: 2rem;
  column-gap: 2rem;
}

.explore-question {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  flex: 1 0 33%;
  margin: 1rem 0;
  background-color: var(--base-hint-color);
  border: 2px solid var(--secondary-color);
  border-radius: .5em .5rem .5rem .5rem;
  box-shadow: 4px 4px 16px rgba(0,0,0,.41);
  max-height: 10000px;
}

.question-body {
  padding: .6rem;
}

.explore-question:hover {
  transform: translate(2);
}

.explore-question-header {
  background-color: var(--secondary-color);
  color: var(--base-font-color);
  text-shadow: rgba(0,0,0,.41);
  margin: 0 auto 1rem 0;
  padding: .2em .6em;
  max-height: 29px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: .4s;
}

.explore-question:hover .explore-question-header {
  max-height: 100000px;
  white-space: pre-wrap;
  text-overflow: unset;
  transition: .4s;
}

.explore-tags {
  position: relative;
  top: 0;
  right: 0;
  display: inline-block;
  height: 30px;
}

.explore-tag-element {
  text-align: center;
  color: var(--base-font-color);
  border-radius: 1em;
  background: var(--secondary-color);
  outline: 0;
  cursor: pointer;
  padding: 6px;
  margin: 0 .4rem 0 0;
}

.explore-question-detail {
  color: var(--secondary-color);
  margin-bottom: 1rem;
  text-align: justify;
  font-weight: bolder;
}

.explore-question-button-container {
  display: flex;
  justify-content: flex-end;
}

.answer-section-container {
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.explore-question-button {
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto;
}

.answer-section {
  flex: 2;
  outline: none;
  box-sizing: border-box;
  margin: 1rem auto;
  width: 80%;
  height: 80px;
  border-radius: 6px;
  overflow: hidden;
  border: none;
  font-weight: bolder;
  font-size: larger;
  color: var(--secondary-color);
  /*background-color: var(--secondary-color-faded-dark);*/
  background-color: rgba(255, 255, 255, .80);
  transition: .4s;
}

.invisible {
  background-color: transparent;
  transition: .4s;
}
