<div class="explore-container">
  <h1 class="explore-header" matRipple (click)="exploreExpanded = !exploreExpanded">Explore</h1>


  <div class="search-container" [@detailExpand]="exploreExpanded ? 'expanded' : 'collapsed'">
    <div class="search-input-container">
      <input class="search-input" placeholder="Search">
    </div>
    <div class="search-tag-container">
        <tag-input class="search-tag-input" #tagInputElement
          [placeholder]="'Tags'"
          [secondaryPlaceholder]="'+ Add tags'"
          [theme]="'search-tag-input-theme'"
          [(ngModel)]="searchTags"
          [modelAsStrings]="true">
        </tag-input>
    </div>
    <div class="search-button-container">
      <button class="button search-button">Search</button>
    </div>
  </div>


  <div class="divider"></div>


  <div *ngIf="tags$ | async as tags">
    <div class="explore-questions-container" @questionCardAnimation *ngIf="questions$ | async as questions">
      <ng-container *ngFor="let question of questions">
        <div class="explore-question"
             [style.background-color]="questionCardThemes[question.uid]?.transColor"
             [style.border-color]="questionCardThemes[question.uid]?.color">
          <div class="question-header-container" [style.background-color]="questionCardThemes[question.uid]?.color">
            <h2 class="explore-question-header">
              {{question.question}}
            </h2>
            <div class="vote-container" *ngIf="question.votes | async as votes">
              <span class="vote-span">
                <mat-icon (click)="castVote(question.uid, 0)" [ngClass]="votes[0]?.vote === 0 && 'vote-selected'">thumb_down</mat-icon>
                <mat-icon (click)="castVote(question.uid, 1)" [ngClass]="votes[0]?.vote === 1 && 'vote-selected'">thumb_up</mat-icon></span>
            </div>
          </div>
          <div class="question-body">
            <div class="explore-tags">

              <ng-container *ngFor="let tag of question.tags">
                <ng-container *ngVar="getTagDataByUidAndTagArray(tag.id, tags) as tagData">
                <span class="explore-tag-element"
                      [style.background-color]="tagData?.color + 'DD'"
                      [style.border-color]="tagData?.color "
                      (click)="addTagToSearch(tagData)">
                  {{tagData?.tag}}
                </span>
                </ng-container>
              </ng-container>
            </div>
            <div class="explore-question-detail"
                 [style.color]="questionCardThemes[question.uid] && questionCardThemes[question.uid].color">
              {{question.detail || ''}}
              <div class="answer-section-container">
              <textarea class="answer-section"
                        [(ngModel)]="question.answer"
                        [style.opacity]="selectedQuestion !== question ? 0 : 1"
                        [style.cursor]="selectedQuestion !== question ? 'default' : 'initial'"
                        [style.color]="questionCardThemes[question.uid] && questionCardThemes[question.uid].color"
                        [readOnly]="selectedQuestion !== question"></textarea>
                <button class="button explore-question-button" *ngIf="selectedQuestion !== question; else answerButton"
                        (click)="selectQuestion(question)">Answer
                </button>
                <ng-template #answerButton>
                  <button class="button button-submit" (click)="send(question)" [disabled]="!question.answer">Send
                  </button>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>



</div>
