<div class="my-questions-container" *ngIf="questionsMap | async as questions">

  <ng-container *ngIf="questions.length === 0">
    <div class="feedback-message">
      You have no questions so far :(
    </div>
  </ng-container>

  <div class="my-question-card-container" *ngFor="let question of questions">
    <div class="card">
      <div class="card-title">
        <h6>Question</h6>
        <h2>{{question.question}}</h2>
        <a class="timestamp">{{question.timestamp.toDate() | date: 'short'}}<i></i></a>
      </div>
      <div class="card-detail-container" *ngIf="question.votes | async as votes">
        <div class="progress-container">
          <div class="progress" [style]="'--progress-percentage:' + evaluateVotes(votes)"></div>
          <span class="progress-text">
					Votes: {{evaluateVotes(votes)}}
				</span>
        </div>
        <h6 *ngIf="question.answers | async as answers">
          Answers: {{answers.length}}
        </h6>
        <h2>{{question.detail}}</h2>
        <button class="btn" (click)="showAnswers(question)" matRipple>Show answers</button>
      </div>
    </div>

    <ng-container *ngIf="answerMap[question.uid] | async as answers" >
      <div class="answers-for-question" [@detailExpand]="selectedQuestion === question ? 'expanded' : 'collapsed'">
        <div class="card answer-card" *ngFor="let answer of answers">
          <div class="card-title answer-card-title">
            <h6>Submitter</h6>
            <h2 *ngIf="userMap[answer.submitter.id] | async as submitter">{{submitter?.displayName}}</h2>
            <a class="timestamp">{{answer.timestamp.toDate() | date: 'short'}}<i></i></a>
          </div>
          <div class="card-detail-container">
            <h6>Answer</h6>
            <h2>{{answer.answer}}</h2>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
