<app-header></app-header>

<header>
  <div class="overlay">
    <h1 class="neon">AskAway</h1>

    <div class="question-input-container">


      <input class="c-checkbox" type="checkbox" id="checkbox">
      <div class="c-formContainer">
        <form class="c-form">
          <input class="c-form__input" placeholder="lol" type="text" [(ngModel)]="question.question" name="question" required>
          <label class="c-form__buttonLabel" for="checkbox" (click)="send()">
            <button class="c-form__button" type="button">Send</button>
          </label>
          <label class="c-form__toggle" for="checkbox" data-title="Ask something!"></label>
        </form>
      </div>
    </div>
    <br>

    <div class="detail-container">

    </div>

    <div class="arrow-container">
      <a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>
    </div>

  </div>
</header>
