.profile-container {
  width: 90%;
  margin: 1rem auto;
  /*border-radius: 8px;*/
  /*background-color: rgba(0,0,0,.03);*/
  /*box-shadow: 4px 4px 12px rgba(0,0,0,.41);*/
}

.profile-editor-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 350px;
  width: 60%;
  margin: 1rem auto;
}

.profile-picture-container {
  flex: 1;
  width: 250px;
  height: 250px;
  margin: auto;
}

.profile-picture {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.profile-data-container {
  display: flex;
  flex: 3;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-around;
}

.profile-data-container input {
  outline: none;
  border: none;
  background-color: rgba(0,0,0,.1);
  border-radius: 6em;
  padding: .5em;
  width: 100%;
  height: 40px;
}

.profile-data-container input:disabled {
  font-style: italic;
  color: rgba(0,0,0,.41);
}

.input-label {
  padding-left: 1rem;
  margin-bottom: .6em;
  color: rgba(0,0,0,.41);
}

.save-button-container {
  width: 40%;
  margin: 1rem auto;
}

.save-button-container button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
